<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Marius Grad
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="extra_catalog" translate="label" sortOrder="200">
            <label>Extra Catalog Seetings</label>
        </tab>
        <section id="topcheapproducts" 
                 translate="label" 
                 sortOrder="130" 
                 showInDefault="1" 
                 showInWebsite="1"
                 showInStore="1">
            <label>Product Features</label>
            <tab>extra_catalog</tab>
            <resource>Gmc_TopCheapProducts::config</resource>
            <group id="general"
                   translate="label" 
                   type="text" 
                   sortOrder="100" 
                   showInDefault="1" 
                   showInWebsite="1" 
                   showInStore="1">
                <label>General</label>
                <field id="enabled" 
                       translate="label" 
                       type="select" 
                       sortOrder="10" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1" 
                       canRestore="1">
                    <label>Enable Top Cheap Product Feature</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_id" 
                       translate="label" 
                       type="select" 
                       sortOrder="20" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1" 
                       canRestore="1">
                    <label>Category for Top Cheap Products </label>
                    <source_model>Gmc\TopCheapProducts\Model\Config\Source\Category</source_model>
                </field>
                <field id="product_count" 
                       translate="label" 
                       type="text" 
                       sortOrder="30" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1" 
                       canRestore="1">
                    <label>Top Cheapt Products Number</label>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>
